* {
	box-sizing: border-box; /* is typically used in every project to overrid default behavior */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* overrides browser default margin */
}

#product-overview {
    background: url(freedom.jpg);
    width: 100%;
    height: 500px;
    padding: 10px;
}

.section-title {
    color: #0da58e;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    /* width: 100%; takes 100% anyway*/
    padding: 8px 16px;
    background: #14baa1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #004237;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 75px);
    vertical-align: middle;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}

.main-nav__item a {
    color: #004237;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active  {
    color: aliceblue;
    border-bottom: 3px solid aliceblue;
}

.main-nav__item--cta a {
    color: aliceblue;
    background: #ff3b7c;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    border: none;
}