* {
	box-sizing: border-box; /* is typically used in every project to overrid default behavior */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0; /* overrides browser default margin */
}

#product-overview {
    background: url(freedom.jpg);
    width: 100%;
    height: 500px;
    padding: 10px;
}

.section-title {
    color: #0da58e;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background: #a9e7dd;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 12px;
}

.plan--highlighted {
    background: #0da58e;
    color: white;
    box-shadow: 0 4px 16px 4px rgba(5, 43, 34, 0.2);
}

.plan__annotation {
    background: #ffe197;
    color: #930c52;
    padding: 8px;
    box-shadow: 0 2px 8px 2px rgba(5, 43, 34, 0.2);
    border-radius: 4px;
}

.plan__title {
    color: #004237;
}

.plan__price {
    color: #930c52;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #ffe197;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

.button {
    font: inherit;
    font-weight: bold;
    letter-spacing: 0.2px;
    background: #004237;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.button:hover, .button:active {
    background: white;
    color: #004237;
}

.button:focus {
    outline: none;
}

#key-features {
    background: #ff9cbd;
    margin: 80px 0;
    padding: 64px;
}

#key-features .section-title {
    color: #930c52;
    margin: 32px;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    /* width: 100%; takes 100% anyway*/
    padding: 8px 16px;
    background: #0da58e;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #004237;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 75px);
    vertical-align: middle;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 10px;
}

.main-nav__item a {
    color: #004237;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active  {
    color: aliceblue;
    border-bottom: 3px solid aliceblue;
}

.main-nav__item--cta a {
    color: #930c52;
    background: #ff9cbd;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    border: none;
}